{{ import { mainNavigator} from "/components/navigators/mainnavigator.vto" }}
{{ import { compositeCard} from "/components/cards/compositecard.vto" }}

{{ layout "layouts/main.vto" }}
  {{ mainNavigator(lo, null) }}
  {{ compositeCard(lo) }}
{{ /layout }}