{{ import { mainNavigator } from "/components/navigators/mainnavigator.vto" }}
{{ import { noteCard } from "/components/cards/notecard.vto" }}

{{ layout "layouts/main.vto" }}
  {{ mainNavigator(lo) }}
  {{ noteCard(lo) }}
{{ /layout }}
