{{ import { mainNavigator } from "/components/navigators/mainnavigator.vto" }}
{{ import { talkCard } from "/components/cards/talkcard.vto" }}

{{ layout "layouts/main.vto" }}
  {{ mainNavigator(lo) }}
  {{ talkCard(lo) }}
{{ /layout }}
