{% from "components/cards/CompositeCard.njk" import compositeCard %}
{% from "components/navigators/MainNavigator.njk" import mainNavigator %}
{% extends "layouts/main.html" %}
{% block content %}
  {{ mainNavigator(lo) }}
  {{ compositeCard(lo) }}
{% endblock %}