{{ import { videoCard } from "/components/cards/videocard.vto" }}
{{ import { talkCard } from "/components/cards/talkcard.vto" }}
{{ import { noteCard } from "/components/cards/notecard.vto" }}

{{ export function panelCards(lo, path) }}
  {{ for video of lo.panelVideos }}
    {{ videoCard(video, path) }}
  {{ /for }}
  {{ for talk of lo.panelTalks }}
    {{ talkCard(talk, path) }}
  {{ /for }}
  {{ for note of lo.panelNotes }}
    {{ noteCard(note, path) }}
  {{ /for }}
{{ /export }}
