{% macro urlStart (lo, path, pathoverride) %}
  {% if pathoverride !== "" %}
    {% set url = pathoverride  %}
  {% else %}
    {% if (lo.type == "web") or ((lo.type == "github") ) %}
      {% set url = lo.route + ' target="_blank"' %}
    {% elif (lo.type == "talk") %}
      {% set url = path + '/' + lo.id + '/' + lo.pdfFile + ' target="_blank"' %}
    {% elif (lo.type == "archive") %}
      {% set url = path + '/' +lo.id + "/" + lo.archiveFile %}
    {% else %}
      {% if (lo.type == "topic") %}
        {% if lo.parentLo.type == "unit" or lo.parentLo.type == "side" %}
          {% set url = './' + lo.parentLo.id + '/' +lo.id + "/index.html" %}
        {% else %}
        {% set url = './' +lo.id + "/index.html" %}
      {% endif %}
      {% else %}
        {% set url = path + '/' +lo.id + "/index.html" %}
      {% endif %}
    {% endif %}
  {% endif %}
      <a href={{ url }}>
{% endmacro %}

{% macro urlEnd(lo) %}
  </a>
{% endmacro %}

{% macro crumbUrlStart (index, lo) %}
  {% if lo.type == "lab" or index ==  0 %}
    {% set url = "./index.html" %}
  {% elif lo.type == "unit" or lo.type == "side" %}
    {% set url = "../../index.html" %}
  {% elif index == 1 %}
    {% set url = "../index.html" %}
  {% elif index == 2 %}
    {% set url = "../../index.html" %}
  {% elif index == 3 %}
    {% set url = "../../../index.html" %}
  {% elif index == 4 %}
    {% set url = "../../../../index.html" %}
  {% endif %}
  <a href={{ url }}>
  {% endmacro %}
  {% macro crumbUrlEnd(lo) %}
  </a>
{% endmacro %}